#map {
  width: 100vw;
  height: 100vh;
}
body {
  overflow: hidden;
}

.section {
  &--main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    form {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      #submit-button {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        background-color: aqua;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
      }
    }
  }
}

#event__list{
  height: 500px;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

.event__item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: salmon;
  flex-wrap: wrap;
  height: 100px;
  margin: 10px 0;
  p{
    width: 50%;
    text-align: center;
  }
}